<div class="container">
  <div
    class="sider"
    *ngIf="(!(currentChat$ | async) && mobileLayout) || !mobileLayout"
  >
    <ng-container
      *ngTemplateOutlet="chatsContainer; context: { chats: (chats$ | async) }"
    >
    </ng-container>
  </div>
  <chat-conversation
    *ngIf="((currentChat$ | async) && mobileLayout) || !mobileLayout"
    class="conversation"
    [chat]="currentChat$ | async"
    (removeSelectedChat)="removeSelectedChat()"
  ></chat-conversation>
</div>

<ng-template #chatsContainer let-chats="chats">
  <ng-container *ngIf="chats">
    <chat-user-area [chats]="chats"></chat-user-area>
    <chat-list
      [chats]="chats"
      [currentChat]="currentChat$ | async"
      (chatSelected)="changeSelectedChat($event)"
    ></chat-list>
  </ng-container>
</ng-template>
