<nb-card>
  <nb-card-body>
    <nb-list>
      <nb-list-item
        class="list-item"
        *ngFor="let chat of chats$ | async"
        (click)="openChat(chat)"
      >
        <nb-user
          onlyPicture
          [picture]="(getChatPicture(chat) | async)!"
        ></nb-user>
        <div class="quick-info">
          <span style="grid-area: chat-name">
            {{ getChatName(chat) | async }}
          </span>
          <ng-container
            *ngTemplateOutlet="
              lastSeenTpl;
              context: { lastSeen: lastSeen(chat) | async }
            "
          ></ng-container>
          <span
            style="grid-area: unread-count; position: relative; right: -15px"
          >
            <chat-list-unread-count
              [unreadCount]="getMessagesUnreadCount(chat) | async"
              [chat]="chat"
              *ngIf="currentChat?.id !== chat.id || !currentChat"
            ></chat-list-unread-count>
          </span>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>

<ng-template #lastSeenTpl let-lastSeen="lastSeen">
  <span
    class="text-hint text-overflow-ellipsis"
    style="grid-area: last-message"
  >
    {{ lastSeen.text }}
  </span>
  <span class="text-hint" style="grid-area: message-time">
    {{ lastSeen.date }}
  </span>
</ng-template>
