.container {
  position: relative;
}

.send-form-btn {
  width: 100%;
  padding: 0 10px;
  position: fixed;
}

nb-list {
  height: 80vh;
}

nb-list-item {
  display: flex;
  justify-content: space-between;
}

::ng-deep {
  nb-checkbox {
    width: 100%;
    > label {
      flex-direction: row-reverse;
      width: 100%;
      cursor: pointer;

      > .text {
        flex: 1;
        padding: 0 !important;
      }
    }
  }
}
